
        @import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html,
body {
    height: 100%
}

body {
    display: grid;
    background: #fff;
    font-family: 'Manrope', sans-serif
}

.mydiv {
    margin-top: 50px;
    margin-bottom: 50px
}

.cross {
    font-size: 10px
}

.padding-0 {
    padding-right: 5px;
    padding-left: 5px
}

.img-style {
    margin-left: -11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 104% !important
}

.m-t-20 {
    margin-top: 20px
}

.bbb_background {
    background-color: #E0E0E0 !important
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute
}

.ribbon span {
    position: absolute;
    display: block;
    width: 34px;
    border-radius: 50%;
    padding: 8px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 100 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center
}

.ribbon-top-right {
    top: -10px;
    right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent
}

.ribbon-top-right::before {
    top: 0;
    left: 17px
}

.ribbon-top-right::after {
    bottom: 17px;
    right: 0
}

.sold_stars i {
    color: orange
}

.ribbon-top-right span {
    right: 17px;
    top: 17px
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bbb_deals_featured {
    width: 100%
}

.bbb_deals {
    width: 100%;
    margin-right: 7%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0px
}

.bbb_deals_title {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_deals_slider_container {
    width: 100%
}

.bbb_deals_item {
    width: 100% !important
}

.bbb_deals_image {
    width: 100%
}

.bbb_deals_image img {
    width: 100%
}

.bbb_deals_content {
    margin-top: 33px
}

.bbb_deals_item_category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_price_a strike {
    color: red
}

.bbb_deals_item_name {
    font-size: 24px;
    font-weight: 400;
    color: #000000
}

.bbb_deals_item_price {
    font-size: 24px;
    font-weight: 500;
    color: #6d6e73
}

.available {
    margin-top: 19px
}

.available_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

.available_title span {
    font-weight: 700
}

@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }

    .bbb_deals_slider_nav_container {
        right: 5px
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }
}

        body{
            font-family: 'Roboto';
            background-image: url('../images/projects/project_02.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%; 
        }

        .MainContainer{
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            background-color: whitesmoke;
            font-family: 'Roboto';
        }

        header{
            width: 100%;
            height: 80px;
            box-sizing: border-box;
            background-color: white;
        }

        #logo{
            width: 250px;
            height: 100%;
            float: left;
            font-size: 24px;
            font-weight: Bold;
            margin-left: 60px;
            font-family: 'Archivo Black';
        }

        #logo span{
            color: gold;
        }

        nav {
            float: right;
            margin-top:40px;
        }

        nav a{
            color: #999;
            text-decoration: none;
            margin: 0 25px;
            transition-duration: 0.5s; 
        }

        nav a:hover{
            color: black;
            /*text-decoration: underline;*/
        }

        #slider{
            width: 100%;
            height: 500px;
            background-color: gold;
        }

        #slider-text{
            float: left;
            margin-left:70px;
            margin-top: 60px;
        }

        #slider-text h1{
            color: #292929;
            font-size: 42px;
            font-weight: Bold;
            font-family: 'Archivo Black';
        }
        #slider-text p{
            color: white;
            font-size: 20px;
        }

        #slider img{
            float: right;
            margin-top: 30px;
            margin-right: 60px;
        }

        #slider-text input{
            padding: 10px 20px;
            color: black;
            font-weight: Bold;
            border-radius: 5px;
        }

        #services{
            width: 100%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 25px;
        }

        .service{
            width: 300px;
            height: 60px;
            display: inline-block;
            padding: 50px 0;
            text-align: left;
            margin: 0 30px;
        }   
        .service p{
            color: #999;
        }
        
        #gallery{
            padding: 40px;
            background-color: white;
        }

        #gallery img{
            width: 220px;
            height: 220px;
            margin: 20px 20px;
            border-bottom: 5px solid gold;
        }
        
        #sponsors {
            margin: 20px auto;
            padding-left: 20px;
        }
        #sponsors img{
            width: 160px;
            height: 80px;
            margin: 0 30px;
            border: 1px solid grey;
            box-shadow: 5px 5px 3px gray;
        }

        footer{ 
            padding-top: 20px;
        }

        #footer-top{
            height: 400px;
            background-color: rgb(51,51,51);
            padding: 50px;
        }

        .footer-text{
            float: left;
            width: 200px;
            height: 75%;
            margin: 20px 20px;
        }

        .footer-text h3{
            font-size: 18px;
            font-weight: Bold;
            color:rgb(99,99,99);
        }

        .footer-text p{
            color: rgb(93,88, 81);
        }
        .footer-text p strong{
            color: rgb(147,146, 144);
        }
        
        .footer-text #logo-footer {
            color: white;
            font-family: 'Archivo Black';
            font-size: 24px;
        }
        .footer-text #logo-footer span {
            color: gold;
        }
        
        .gallery-bottom {
            width: 260px;
            height: 200px;
        }

        .gallery-bottom img {
            width: 50px;
            height: 50px;
            margin: 10 10px;
            display: inline-block;
        }

        #footer-bottom{
            width: 100%;
            height: 30px;
            background-color: rgb(43,43,43);
            padding-top: 10px;
        }

        #credits p{
            color: rgb(93,88, 81);
            float: left;
            margin: 0 30px;
            padding: 0 30px; 
        }

        #social{
            float: right;
        }
        #social a{
            color: rgb(147,146, 144);
            text-decoration: none;
            font-size: 20px;
            margin: 0 20px;
        }


        main{
            height: auto;
        }

        .mainContent{
            background-color: white;
            padding: 25px;
            margin: 5px 0px 5px 0px;
        }

        

        .login-card{
            height: auto;
            width: 800px;
            margin: 250px auto;
            border: 1px solid darkgray;
            padding-bottom: 15px;
        }

        .loginForm{
            float:right;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: white;
            
        }
        .loginForm h2{
            padding-top: 50px;
        }

        .loginForm form{
            padding-top: 20px;
        }

        .loginForm input[type=submit] {
            background-color: #4c4066;
            color: white;
            font-weight: bold;
            padding: 5px 15px 5px 15px;
            border-radius: 15px;
        }